/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  border-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-Regular.eot');
  src: url('./fonts/Lora-Regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Lora-Regular.woff') format('woff'),
       url('./fonts/Lora-Regular.ttf') format('truetype'),
       url('./fonts/Lora-Regular.svg#Lora') format('svg');
}

a {
  color: unset;
  text-decoration: none;
}

@media all and (min-width: 800px) {
  .main-image {
    background-image: url('./images/mikey-large.jpg');
    background-size: contain;
    background-attachment: fixed;
  }

  header {
    flex-direction: row;
    align-items: baseline;
  }

  header h1 {
    font-size: 5.5rem;
  }

  header h2 {
    padding-left: 0.5rem;
    font-size: 2rem;
  }

  header p {
    flex-grow: 1;
    font-size: 1.8rem;
    text-align: right;
  }

  nav .icon {
    display: none !important;
  }
}

@media all and (max-width: 800px) {
  .main-image {
    background-image: url('./images/mikey-small.jpg');
    background-size: cover;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    font-size: 3.5rem;
  }

  header p {
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }

  header h2, nav .text {
    /*
     * Hide only visually, but have it available for screen readers:
     * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
     */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

html, body, main {
  font-family: 'Lora', serif;
  font-weight: normal;
  font-style: normal; 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* shade of #008080 */
  color: #004c4c;
  /* tint of #9370db */
  background-color: #d3c5f0;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  z-index: 1;
  padding: 1.2rem;
  border-bottom: 5px solid black;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

a:hover {
  color: #49386d;
  transition: color 0.5s;
}

.main-image {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}

.main-image img {
  z-index: 1;
  display: block;
  width: auto;
  height: 100%;
}

.main-image canvas {
  position: fixed;
  left: 0;
  right: 0;
}

nav {
  z-index: 1;
  border-top: 5px solid black;
  height: 5rem;
}

nav > ul {
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

nav > ul > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

nav > ul > a:hover {
  color: #99cccc;
  background-color: #49386d;
  transition: color 0.5s;
  transition: background-color 0.5s;
}

nav > ul > a > li {
  font-size: 3.5rem;
  text-align: center;
}

nav .icon {
  height: 90%;
}

/*
@keyframes colorRotate {
  from {
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 255, 0, 1) 15%,
      rgba(0, 255, 0, 1) 30%,
      rgba(0, 255, 255, 1) 50%,
      rgba(0, 0, 255, 1) 65%,
      rgba(255, 0, 255, 1) 80%,
      rgba(255, 0, 0, 1) 100%
    );
  }
  100% {
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 1) 100%,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 255, 0, 1) 15%,
      rgba(0, 255, 0, 1) 30%,
      rgba(0, 255, 255, 1) 50%,
      rgba(0, 0, 255, 1) 65%,
      rgba(255, 0, 255, 1) 80%
    );
  }
}
*/
